<template>
    <div>
        <div class="row">
            <div class="col-2">
            <router-link to="/admin" class="btn btn-primary">All User</router-link>
            </div>
        </div>

        <div class="row justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">User Update</h1>
                  </div>
                  <form class="user" @submit.prevent="userUpdate">

                    <div class="form-group">
                      <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Enter Full Name" v-model="form.name">
                        <small class="text-danger" v-if="errors.name"> {{ errors.name[0] }} </small>
                    </div>

                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" v-model="form.email" placeholder="Enter Email Address" >
                        <small class="text-danger" v-if="errors.email"> {{ errors.email[0] }} </small>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="exampleInputPassword" v-model="form.newpassword" placeholder="Password">
                          <small class="text-danger" v-if="errors.newpassword"> {{ errors.newpassword[0] }} </small>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="exampleInputPasswordRepeat" v-model="form.newpassword_confirmation" placeholder="Confirm Password">
                        <small class="text-danger" v-if="errors.newpassword_confirmation"> {{ errors.newpassword_confirmation[0] }} </small>
                    </div>


                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Update</button>
                    </div>
                    <hr>
                    
                  </form>
                  <hr>
                  <!-- <div class="text-center">
                  </div>
                  <div class="text-center">
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                form:{
                    name: '',
                    email: '',
                    newpassword: '',
                    newpassword_confirmation: '',
                },
                errors:{ }
            }
        },

        created(){
            const role = localStorage.getItem('role')
            console.log(role);
            
            if(!User.loggedIn()){
              this.$router.push({ name: '/' })
            }
            else if(role == 'user'){
              this.$router.push({ name: 'home' });
            }

            let id = this.$route.params.id
            axios.get('/api/user/'+id)
            .then(({data}) => (this.form = data))
            .catch(console.log('error')) 
        },

        methods:{
            userUpdate(){
                let id = this.$route.params.id
                axios.patch('/api/user/'+id,this.form)
                .then(() => {
                    this.$router.push({ name: 'admin' })
                    Notification.success()
                })
                .catch(error => this.errors = error.response.data.errors)
            }
        }
    }
</script>

<style>

</style>