<template>
    <div>
        <div class="row">
            <div class="col-2">
            <router-link to="/register" class="btn btn-primary">Register</router-link>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-12 mb-4">
              <!-- Simple Tables -->
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">User list</h6>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="user in users" :key="user.id">
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                          <router-link :to="{name: 'edit-admin', params:{id:user.id} }" class="btn btn-sm btn-primary">Edit</router-link>
                          <a @click="deleteUser(user.id)" class="btn btn-sm btn-danger"> <font color="#ffffff">Delete</font></a>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
          </div>
          <!--table end-->
    </div>
</template>

<script>
    export default {

        created(){
             if((!User.loggedIn())){  
              this.$router.push({ name: '/' });
            } 
        },

        data(){
          return {
             users:[],
          }
        },

        methods: {
            allUser(){
              axios.get('/api/user')
              .then(({data}) => (this.users = data ))
              .catch()
            },

            checkRole(){
                 const role = localStorage.getItem('role')
                 console.log(role);

                    if(role == 'admin'){
                        this.allUser()
                    }
                    else
                    {
                      this.$router.push({ name: 'todos' });
                    }
            },

            deleteUser(id){
              Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.isConfirmed) {
                axios.delete('/api/user/'+id)
                .then(() => {
                  this.users = this.users.filter(users => {
                    return users.id != id
                  })
                })
                .catch(() => {
                  this.$router.push({ name: 'admin' })
                })
                Swal.fire(
                  'Deleted!',
                  'Your file has been deleted.',
                  'success'
                )
              }
            })
            }
        },

        created(){
          this.checkRole();
        }
    }
</script>

<style>
  #em_photo{
    height: 40px;
    width: 40px;
  }
</style>