<template>
    <div>
        <div class="row">
            <div class="col-2">
            <router-link to="/todos" class="btn btn-primary">All To do</router-link>
            </div>
        </div>

        <div class="row justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Add To do</h1>
                  </div>
                  <form class="user" @submit.prevent="todoseInsert" enctype="multipart/form-data">


                    <div class="form-group mb-6">
                        <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Enter category message..." v-model="form.message">
                            <small class="text-danger" v-if="errors.message"> {{ errors.message[0] }} </small>
                        </div>
        

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <input type="file" class="custom-file-input" id="customFile" @change="onFileSelected">
                                <small class="text-danger" v-if="errors.photo"> {{ errors.photo[0] }} </small>
                                <label class="custom-file-label" for="customFile">Choose file</label>                            
                            </div>
                            <div class="col-md-6">
                                <img :src="form.photo" style="height: 40px; width:40px;" alt="">
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                    <hr>
                    
                  </form>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</template>

<script>
    export default {

        created(){
            const role = localStorage.getItem('role')
            console.log(role);

            if(!User.loggedIn()){
                this.$router.push({ name: '/' })
            }else if(role == 'admin'){
                this.$router.push({ name: 'admin' })
            }
        },

       data(){
    return {
      form:{
        message: null,
        photo: null,
        user_id: localStorage.getItem('user_id')
      },
      errors:{}
    }
  },

  methods:{
    onFileSelected(event){
     let file = event.target.files[0];
     if (file.size > 1048770) {
      Notification.image_validation()
     }else{
      let reader = new FileReader();
      reader.onload = event =>{
        this.form.photo = event.target.result
        console.log(event.target.result);
      };
      reader.readAsDataURL(file);
     }

    },
  todoseInsert(){
       axios.post('/api/todos',this.form)
       .then(() => {
        this.$router.push({ name: 'todos'})
        Notification.success()
       })
       .catch(error =>this.errors = error.response.data.errors)
     },
  } 
    }
</script>

<style>

</style>