<template>
    <div>
        <div class="row">
            <div class="col-2">
                <router-link to="/store-todos" class="btn btn-primary">Add To do</router-link>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-12 mb-4">
                <!-- Simple Tables -->
                <div class="card">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Todo list</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody v-for="todo in todos" :key="todo.id">
                                <tr v-if="todo.user_id == userid">
                                 <!-- <div > -->
                                        <td>{{ todo.message }}</td>
                                        <td><img :src="todo.photo" id="em_photo"></td>
                                        <td>
                                            <div v-if="todo.is_complete == '1'">
                                                <p> Complete </p>
                                            </div>
                                            <div v-else>
                                                <p> Not Complete </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div v-if="todo.is_complete == '0'">
                                                <a @click="completeTask(todo.id)" class="btn btn-sm btn-success">
                                                    <font color="#ffffff">Mark as Complete</font>
                                                </a>
                                                <router-link :to="{name: 'edit-todos', params:{id:todo.id} }"
                                                    class="btn btn-sm btn-primary">Edit</router-link>
                                                <a @click="deleteTodos(todo.id)" class="btn btn-sm btn-danger">
                                                    <font color="#ffffff">Delete</font>
                                                </a>
                                            </div>
                                            <div v-else-if="todo.is_complete == '1'">
                                                    <a @click="deleteTodos(todo.id)" class="btn btn-sm btn-danger">
                                                    <font color="#ffffff">Delete</font>
                                                </a>
                                            </div>
                                        </td>
                                        <!-- </div> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
        <!--table end-->
    </div>
</template>

<script>
    export default {

        data() {
            return {
                todos: [],
                searchTerm: '',
                form: {
                    message: '',
                    is_complete: '',
                },
                userid: localStorage.getItem('user_id')
            }
        },

        methods: {
            alltodos() {

                const role = localStorage.getItem('role')
                console.log(role);

                const id = localStorage.getItem('user_id')

                if (!User.loggedIn()) {
                    this.$router.push({
                        name: '/'
                    })
                } else if (role == 'admin') {
                    this.$router.push({
                        name: 'admin'
                    })
                }

                axios.get('api/todos')
                .then(({data}) => (
                    this.todos = data               
                    ))
                .catch(console.log('error')) 
                
            },

            deleteTodos(id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        axios.delete('/api/todos/' + id)
                            .then(() => {
                                this.todos = this.todos.filter(todo => {
                                    return todo.id != id
                                })
                            })
                            .catch(() => {
                                this.$router.push({
                                    name: 'todos'
                                })
                            })
                        Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                    }
                })
            },

            completeTask(id) {
                Swal.fire({
                    title: 'Are you sure you want to complete this task?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, complete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        axios.patch('/api/active/' + id)
                            .then(() => {})
                        this.$router.push({
                            name: 'todos'
                        })
                        this.alltodos()
                        Notification.success()
                            .catch(() => {
                                this.$router.push({
                                    name: 'todos'
                                })
                            })
                        Swal.fire(
                            'Completed!',
                            'Your task has been complete.',
                            'success'
                        )
                    }
                })
            },
        },

        created() {
            this.alltodos();
        }
    }
</script>

<style>
    #em_photo {
        height: 40px;
        width: 40px;
    }
</style>