<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card shadow-sm my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="login-form">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Login</h1>
                                    </div>
                                    <form class="user" @submit.prevent="login">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="exampleInputEmail"
                                                aria-describedby="emailHelp" placeholder="Enter Email Address" v-model="form.email">
                                                <small class="text-danger" v-if="errors.email"> {{ errors.email[0] }} </small>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" v-model="form.password">
                                            <small class="text-danger" v-if="errors.password"> {{ errors.password[0] }} </small>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                                        </div>
                                        <hr>

                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        created(){
            if(User.loggedIn()){
                this.$router.push({ name: 'home' })
            }
        },

        data(){
            return{
                form:{
                    email: null,
                    password: null
                },
                errors:{ }

            }
        },
        methods:{
            login(){
                axios.post('/api/auth/login', this.form)
                .then(res => {

                    User.responseAfterLogin(res)
                    console.log(res)
                    // alert noti
                    Toast.fire({
                    icon: 'success',
                    title: 'Signed in successfully'
                    })
            
                    // boleh buat dkt sini utk valid admin atau user biasa res.name
                    // nanti buat role
                    console.log(res.data.role);
                    if(res.data.role == 'admin'){
                        this.$router.push({ name: 'admin'});
                    }
                    else
                    {
                         this.$router.push({ name: 'todos'});
                    }
                })
                .catch(error => this.errors = error.response.data.errors)
                .catch(
                    // alert noti
                    Toast.fire({
                    icon: 'warning',
                    title: 'Invalid Email or Password'
                    })
                )
            },

            check(){
                axios.post('/api/auth/login', this.form)
            }
        }
    }
</script>

<style>

</style>